{% extends 'layout/default.twig' %}

{% block body %}
<section class="container p-5">
    <h1>Inscription</h1>

    <form method="POST" action="" {% if errors %}class="was-validated" {% endif %}>
        <div class="row">
            <div class="form-group col-12 col-sm">
                <label for="">Adresse mail</label>
                <input class="form-control" required type="email" name="mail" placeholder="Votre courriel"
                    value="{{ datas.mail }}">
                {% if errors.mail %}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in errors.mail %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="form-group col-12 col-sm">
                <label for="">Verification adresse mail</label>
                <input class="form-control" required type="email" name="mailVerify"
                    placeholder="vérification de votre courriel" value="{{ datas.mail }}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-sm">
                <label for="">Mot de passe</label>
                <input class="form-control" required type="password" name="password" placeholder="Votre mot de passe">
                {% if errors.password %}
                <div class="invalid-feedback">
                    <ul>
                        {% for error in errors.password %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="form-group col-12 col-sm">
                <label for="">Répétez le mot de passe</label>
                <input class="form-control" required type="password" name="passwordVerify"
                    placeholder="confirmez votre mot de passe">
            </div>
        </div>
        <button class="btn btn-primary" required type="submit">S'inscrire</button>
    </form>
</section>
{% endblock %}